.page-letters {
    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }
    .city {
        display: inline-block;
        width: 10rem;
    }
    .link {
        display: inline-block;
        width: 5rem;
    }
}