/* purgecss start ignore */

@import "tailwindcss/base";
@import "tailwindcss/components";

/* purgecss end ignore */

#root {
  background: #111;
  @apply text-gray-100;
  min-height: 100vh;
}

a {
  text-decoration: underline;
}